.hero-content {
  background-color: #4A0025;
  padding: 100px 0;
  background: #4A0025;
}

.hero-content h1 {
  font-size: 70px;
  margin-bottom: 50px;
  font-weight: 300;
}

.hero-content p {
  display: inline-block;
  padding-right: 10px;
}

.hero-content h3 {
  padding-left: 10px;
}

.selling-points {
  padding: 100px 0;
}

.selling-points .point {
  width: 32%;
  float: left;
  padding: 0 0.5%;
}

.selling-points .point h5 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  height: 85px;
}

.selling-points .point p {
  font-size: 14px;
  text-align: center;
}

/* album flip */
  
.album-flip {  /* positions the rear card behind the front*/
  position: relative;
  float: left;
  padding-bottom: 340px;
  width: 340px;
}

.albumfront,
.albumback {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 340px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.albumback {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.album-flip.effect__hover:hover .albumfront {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.album-flip.effect__hover:hover .albumback {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}