.hero-content {
  background-color: #4A0025;
  padding: 100px 0;
  background: #4A0025;
}

.hero-content h1 {
  font-size: 70px;
  margin-bottom: 50px;
  font-weight: 300;
}

.hero-content p {
  display: inline-block;
  padding-right: 10px;
}
.hero-content h3 {
  padding-left: 10px;
}

.selling-points {
  padding: 100px 0;
}

.selling-points .point {
  width: 32%;
  float: left;
  padding: 0 0.5%;
}

.selling-points .point h5 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  height: 85px;
  // border-style: solid;
  // border-color: white; 
}

.selling-points .point p {
  font-size: 14px;
  text-align: center;
//   border-style: solid;
//   border-color: grey;
}

// album flip
.landing-album-list {
  .album-cover {
    /* entire container, keeps perspective */
    .flip-container {
      perspective: 1000;
    }
      /* flip the pane when hovered */
      .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
      }

    .flip-container, .front, .back {
      width: 340px;
      height: 340px;
    }

    /* flip speed goes here */
    .flipper {
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;
    }

    /* hide back of pane during swap */
    .front, .back {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }

    /* front pane, placed above back */
    .front {
      z-index: 2;
      /* for firefox 31 */
      transform: rotateY(0deg);
    }

    /* back, initially hidden pane */
    .back {
      transform: rotateY(180deg);
    }
  }
}