.hero-content {
  background-color: #4A0025;
  padding: 100px 0;
  background: #4A0025;
}

.hero-content h1 {
  font-size: 70px;
  margin-bottom: 50px;
  font-weight: 300;
}

.selling-points {
  padding: 100px 0;
}

.selling-points .point {
  width: 32%;
  float: left;
  padding: 0 0.5%;
}

.selling-points .point h5 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  height: 85px;
  // border-style: solid;
  // border-color: white; 
}

.selling-points .point p {
  font-size: 14px;
  text-align: center;
//   border-style: solid;
//   border-color: grey;
}