

@media screen and (max-width: 800px) {

  /* Landing Page and Global Styles */

  body {
    background: #4A0025;
  }

  .player-header-nav.navbar {
    .navbar-nav {
      li {
        text-align: center;
      }
    }
  }

  .hero-content {
    padding: 50px 0;
    h1, h3 {
      text-align: center;
    }
  }
  
  .album-flip {
    left: calc(50% - 170px); 
  }

  .selling-points {
    padding: 0;

    .point {
      padding: .1em .1em;
      float: none;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    
      h5 {
        height: auto;
        margin-bottom: 10px;
      }
      p {
        text-align: center;
        font-size: 1.25em;
        padding: 1% 0.5% 15% 0.5%;
      }
    }
  }

  /* Collection View */

  .collection-album-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
  }

  /* Player Bar */

  .player-bar {

    .container {
      display: static;
    }

    .left-controls {
      position: absolute;
      bottom: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    .currently-playing {
      width: 70%;
      position: absolute;
      bottom: 30%;
      left: 15%;
    }  
  }

  .player-bar-control-group {
    position: static;
  }
}
