  @import "landing";
  @import "album";
  @import "collection";
  @import "player_bar";
  @import "buttons";
  @import "profile";
  @import "mobile";

html {
  height: 100%;
}

body {
  font-family: 'Open Sans';
  color: white;
  min-height: 100%;
  background: -webkit-radial-gradient(  #4A0025, #6E3351);
  background: radial-gradient(   #4A0025, #6E3351);
  padding-bottom: 150px;
}

body.landing {
  background: #585579;
  padding-bottom: 0;
}

body.landing .navbar {
	margin-bottom: 0;
}

.player-header-nav {
	background-color: rgba(47, 22, 35, .9);
    .navbar-nav {
      a {
        line-height: 45px;
        color: white;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.2;

        &:hover {
          color: rgba(123, 70, 163, .9);
        }
      }
    }
}



